<h5>Currenlty Reading</h5>
<ul>
  <li><a href="http://www.amazon.com/gp/product/B00B6Z6HI2">Shift</a></li>
  <li><a href="http://www.amazon.com/Rich-Dad-Poor-ebook/dp/B004XZR63M">Rick Dad Poor Dad</a></li>
</ul>

<h5>Recently Read</h5>
<ul>
  <li><a href="https://www.amazon.com/gp/product/B002WE46UW">The 4-Hour Work Week</a></li>
  <li><a href="https://www.amazon.com/gp/product/B00CYNGPTG">Dust</a></li>
  <li><a href="https://www.amazon.com/gp/product/B003XREM5G">The Sirens of Titan</a></li>
</ul>

<h5>Wish Lists</h5>
<ul>
  <li><a href="http://amzn.com/w/2XYDVF8WWKXG9">Reading</a></li>
</ul>