h1, h2, h3, h4, h5, h6 {
  font-family: 'Goudy Bookletter 1911', serif;
}

body {
    text-rendering: optimizelegibility;
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-family: 'Permanent Marker', cursive;
    color: #1ba356;
}

.subheader {
    color: #1ba356;
}

h1 {
    font-family: 'Goudy Bookletter 1911', serif;
    line-height: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
}

.post-title h2 {
    font-family: 'Goudy Bookletter 1911', serif;
}

footer {
    color: #1ba356;
    font-family: 'Goudy Bookletter 1911', serif;
    padding: 10px 0;
}

.post-date {
    color: #f29a83;
}

div.meta {
    color: #f29a83;
    margin-bottom: .75em;
}

div.meta .meta-date {
    float: left;
}

div.meta .meta-tags {
    float: right;
}

header h2 {
    margin-bottom: 0;
}

a {
    color: #8AC763;
}

a:hover {
    color: #e44d26;
}

.tag {
    color: #e44d26;
}