<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

        {% css_asset_tag global %}
        - /_assets/css/foundation.css
        - /_assets/css/syntax.css
        - /_assets/css/main.css
        {% endcss_asset_tag %}

        {% javascript_asset_tag header %}
        - /_assets/js/vendor/custom.modernizr.js
        {% endjavascript_asset_tag %}

    </head>
    <body>
      <!-- Nav Bar -->
 
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="inline-list">
          <li><a href="/all-posts.html">All Posts</a></li>
        </ul>
      </div>
      <h2 class="title"><a class="title" href="/">{{site.title}}</a></h2>
      <hr />
    </div>
  </div>
 
  <!-- End Nav -->
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
      {{ content }} 
    </div>
 
    <!-- End Main Content -->
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p class="left">&copy; {% render_year %}, Neil Hastings </p>
        </div>
        <div class="large-6 columns right">
          <p class="right">
            Find me on <a href="https://twitter.com/indytechcook">twitter</a>, <a href="https://github.com/indytechcook">github</a>, <a href="http://www.linkedin.com/in/neilhastings">linkedin</a> and <a href="https://drupal.org/user/245817">drupal</a>.
          </p>
        </div>
      </div>
    </div>
  </footer>

      {% javascript_asset_tag footer %}
        - /_assets/js/vendor/jquery-1.10.2.min.js
        - /_assets/js/vendor/foundation.min.js
        - /_assets/js/main.js
      {% endjavascript_asset_tag %}


      <!-- Piwik -->
      <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]);

        (function() {
          var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.indytechcook.com/";
          _paq.push(["setTrackerUrl", u+"piwik.php"]);
          _paq.push(["setSiteId", "1"]);
          var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
          g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <!-- End Piwik Code -->
      <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&lang=sql&lang=go&skin=sons-of-obsidian"></script>
    <script>
      $(document).foundation();
    </script>
    </body>
</html>
