---
layout: default
---

<article>
    <header>
        <row>
            <div class="large-12 columns">
                <h2>{{ page.title }}</h2>
            </div>
        </row>
        <div class="row">
            <div class="meta small-10 small-offset-1 columns">
                <div class="meta-date">
                    Published On {{ page.date | date_to_string }}
                </div>
                <div class="meta-tags">
                    {{ page.tags | tag_links }}
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="large-12 columns">
            {{ content  }}
        </div>
    </div>
</article>