---
layout: default
---

<h2 class="tag">{{ page.title }}</h2>
{% for post in site.tags[page.tag] %}
<div class="row">
    <div class="small-12 columns">
        <div class="post-title">
            <h4 class="subheader">
                <a href="{{ post.url }}">
                    <small class="post-date">{{ post.date | date_to_string }}</small> {{ post.title }}
                </a>
            </h4>
        </div>
    </div>
</div>
{% if post.excerpt %}
<div class="row">
    <div class="small-10 small-offset-1 columns">
        <em>{{ post.excerpt | markdownify }}</em>
    </div>
</div>
{% endif %}
{% endfor %}

<div class="row">
    <div class="small-5 small-centered columns text-center">
        <h5 class="subheader"><a href="atom.xml">{{page.tag}} RSS Feed</a></h5>
        <h5 class="subheader"><a href="/all-posts.html">All Posts</a></h5>
    </div>
</div>